@charset 'utf-8';

.header {
	align-items: center;
	background-attachment: fixed;
	background-image: url('../assets/backgrounds/background-header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 766px;
	justify-content: center;
	overflow: auto;
	position: relative;
}

.h-nav {
	align-items: center;
	background: rgb(24, 24, 24);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	opacity: 1;
	position: absolute;
	top: 0px;
	transform: translateY(-100vh);
	transition-duration: 1s;
	transition-property: transform;
	width: 100%;
}

/* ADICIONAR NO HTML /// JAVASCRIPT */
.is--open {
	transform: translateY(0);
}

.h-nav__menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	list-style: none;
}

.h-nav__link {
	color: var(--font-color);
	font-size: 1.4rem;
	margin: 0px 20px;
	padding: 40px 20px;
	text-align: center;
}

.h-nav__item {
	font-family: 'Great Vibes', cursive;
}

.h-nav__bannerBox {
	margin: 0px 40px;
	overflow: visible;
	position: relative;
	width: 150px;
}

.h-nav__bannerBox__banner {
	align-items: center;
	background: linear-gradient(14deg, rgb(182, 0, 0), black);
	clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0% 100%, 0% 0%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 190px;
	position: absolute;
	top: 50vh;
	width: 100%;
}

.is--decoration {
	background: rgba(0, 0, 0, 0.344);
	width: 104%;
	height: 100%;
	left: calc(50% - 104% / 2);
}

.h-nav__bannerBox__banner__figureBox {
	height: 50%;
	width: 50%;
	margin-top: -73px;
}

.h-nav__bannerBox__banner__title {
	align-items: center;
	color: var(--font-color);
	display: flex;
	font-family: 'Great Vibes', cursive;
	flex-direction: column;
	font-size: 1.8rem;
	font-weight: bolder;
}

.h-nav__bannerBox__banner__title::after {
	content: 'Desde 1987';
	font-size: 1rem;
	font-weight: normal;
	margin-top: 25px;
}

.h-titles {
	align-items: center;
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	font-family: 'Great Vibes', cursive;
}

.h-titles__title-b {
	align-items: center;
	display: flex;
	font-size: 3rem;
	font-family: 'Great Vibes', cursive;
}

.h-titles__title-b::after,
.h-titles__figureBox::after,
.h-titles__title-b::before,
.h-titles__figureBox::before {
	background: var(--line-color);
	content: '';
	display: block;
	height: 4px;
	margin: 0px 20px;
	width: 25px;
	border-radius: 30%;
}

.h-titles__title-a {
	font-size: 4rem;
	font-family: 'Great Vibes', cursive;
}

.h-titles__title-a::before {
	background: var(--line-color);
	content: '';
	display: block;
	margin-bottom: 20px;
	height: 5px;
	border-radius: 2px;
	width: 100%;
}

.h-titles__figureBox {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: -40px;
	width: 150px;
	height: fit-content;
}

.h-titles__imagem {
	width: 70%;
}

.h-titles__figureBox::after,
.h-titles__figureBox::before {
	margin: 2px;
}

.h-titles__title-c {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-weight: normal;
	margin-top: -15px;
	font-family: 'Great Vibes', cursive;
}

.h-titles__title-c::before {
	background: var(--line-color);
	content: '';
	display: block;
	margin-bottom: 10px;
	height: 5px;
	border-radius: 2px;
	width: 100%;
}

@media (min-width: 480px) {
}

/* Deveria ser 760px */
@media (min-width: 850px) {
	.h-nav {
		flex-direction: row;
		height: unset;
		top: 0px;
	}

	.h-nav__menu {
		flex-direction: row;
		justify-content: space-evenly;
		width: 37%;
	}

	.h-nav__link {
		padding: 20px 10px;
	}

	.h-nav__bannerBox {
		height: 85px;
		margin: 0px 40px;
		overflow: visible;
		position: relative;
		width: 150px;
	}

	.h-nav__bannerBox__banner {
		top: 0;
	}
}

@media (min-width: 1025px) {
	/* .h-titles__title-b {
		font-size: 3rem;
	}
	.h-titles__title-a {
		font-size: 6rem;
	}
	.h-titles__title-c {
		font-size: 3rem;
	} */
}

@media (min-width: 1500px) {
	/* .h-titles__title-b {
		font-size: 4rem;
	}
	.h-titles__title-a {
		font-size: 8rem;
	}
	.h-titles__title-c {
		font-size: 3rem;
	} */
}
